#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
input::placeholder {
  font-style: italic;
}
label {
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 100px;
}
