body{
    background-color:#ffffff;
}
.box{
    position:absolute;

    width:50%;
    height:70%;

    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    border-radius: 10px;
    background-color:#393939;
}
.box p{
    color:white;
}
#title{
    color:white;
}
.text_input{
    width:250px;
    height:30px;
    
    margin-bottom:10px;

    color:white;

    border-color:rgb(255, 255, 255);
    border-radius:5px;
    border-style:solid;
    background-color:rgba(0, 0, 0, 0);
}
#register{
    color:#393939;
    width:250px;
    height:50px;
    font-size:20px;
    font-weight: bold;
    margin-top:30px;
    border-radius:5px;
    background-color:white;
}
#register:disabled{
    color: #5c5c5c;
    background-color:rgb(119, 118, 118);
}